In [32]:
import pandas as pd
import numpy as np

In [33]:
df_1 = pd.read_csv("train.csv")
df_1.head()

                 id     anchor                  target context  score
0  37d61fd2272659b1  abatement  abatement of pollution     A47   0.50
1  7b9652b17b68b7a4  abatement          act of abating     A47   0.75
2  36d72442aefd8232  abatement         active catalyst     A47   0.25
3  5296b0c19e1ce60e  abatement     eliminating process     A47   0.50
4  54c1e3b9184cb5b6  abatement           forest region     A47   0.00

In [34]:
df_1.describe()

              score
count  36473.000000
mean       0.362062
std        0.258335
min        0.000000
25%        0.250000
50%        0.250000
75%        0.500000
max        1.000000

In [35]:
df_1.isnull().any()

id         False
anchor     False
target     False
context    False
score      False
dtype: bool

In [36]:
from sklearn.preprocessing import LabelEncoder

In [37]:
# creating instance of labelencoder
labelencoder_anchor = LabelEncoder()
labelencoder_target = LabelEncoder()
labelencoder_context = LabelEncoder()
# Assigning numerical values and storing in another column
df_1['anchor'] = labelencoder_anchor.fit_transform(df_1['anchor'])
df_1['target'] = labelencoder_target.fit_transform(df_1['target'])
df_1['context'] = labelencoder_context.fit_transform(df_1['context'])

__Preparing test__

In [38]:
test = pd.read_csv("test.csv")
test['anchor'] = labelencoder_anchor.transform(test['anchor'])
test['target'] = labelencoder_target.transform(test['target'])
test['context'] = labelencoder_context.transform(test['context'])
test.head()

                 id  anchor  target  context
0  4112d61851461f60     446   13285       89
1  09e418c93a776564      16     907       80
2  36baf228038e314b     386   15063       32
3  1f37ead645e7f0c8      88   27894       62
4  71a5b6ad068d531f     431    1685      104

In [39]:
test.head()

                 id  anchor  target  context
0  4112d61851461f60     446   13285       89
1  09e418c93a776564      16     907       80
2  36baf228038e314b     386   15063       32
3  1f37ead645e7f0c8      88   27894       62
4  71a5b6ad068d531f     431    1685      104

In [40]:
test_id = np.array(test['id'])

In [41]:
test.drop('id',axis=1,inplace=True)

In [46]:
x_test = test

__Spliting__

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
x = df_1[['anchor','target','context']].values
y = df_1['score'].values

In [50]:
# x_train, x_test, y_train, y_test = train_test_split(
#     x, y, test_size=0.30, random_state=141)

In [51]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(random_state=141)
regr.fit(x, y)

RandomForestRegressor(random_state=141)

In [52]:
y_pred = np.round(regr.predict(x_test),decimals=2)

/opt/homebrew/Caskroom/miniforge/base/envs/py3_base/lib/python3.8/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

In [ ]:
# from sklearn.metrics import mean_squared_error

In [ ]:
# mean_squared_error(y_test, y_pred)

In [ ]:
# from sklearn.metrics import mean_absolute_error

In [ ]:
# mean_absolute_error(y_test,y_pred)

In [ ]:
# np.round(y_pred, decimals=2)

In [53]:
df_final = pd.DataFrame({'id':test_id,'score':y_pred})

In [ ]:
pd.read_csv("sample_submission.csv").head()

In [54]:
df_final.head()

                 id  score
0  4112d61851461f60   0.29
1  09e418c93a776564   0.46
2  36baf228038e314b   0.40
3  1f37ead645e7f0c8   0.25
4  71a5b6ad068d531f   0.10

In [56]:
df_final.to_csv("Michael_Woo_Submission.csv",index=False)

In [57]:
pd.read_csv("Michael_Woo_Submission.csv")

                  id  score
0   4112d61851461f60   0.29
1   09e418c93a776564   0.46
2   36baf228038e314b   0.40
3   1f37ead645e7f0c8   0.25
4   71a5b6ad068d531f   0.10
5   474c874d0c07bd21   0.47
6   442c114ed5c4e3c9   0.49
7   b8ae62ea5e1d8bdb   0.02
8   faaddaf8fcba8a3f   0.25
9   ae0262c02566d2ce   0.98
10  a8808e31641e856d   0.26
11  16ae4b99d3601e60   0.25
12  25c555ca3d5a2092   0.58
13  5203a36c501f1b7c   0.88
14  b9fdc772bb8fd61c   0.74
15  7aa5908a77a7ec24   0.34
16  d19ef3979396d47e   0.29
17  fd83613b7843f5e1   0.10
18  2a619016908bfa45   0.54
19  733979d75f59770d   0.50
20  6546846df17f9800   0.39
21  3ff0e7a35015be69   0.25
22  12ca31f018a2e2b9   0.30
23  03ba802ed4029e4d   0.24
24  c404f8b378cbb008   0.50
25  78243984c02a72e4   0.09
26  de51114bc0faec3e   0.01
27  7e3aff857f056bf9   0.32
28  26c3c6dc6174b589   0.02
29  b892011ab2e2cabc   0.57
30  8247ff562ca185cc   0.24
31  c057aecbba832387   0.02
32  9f2279ce667b21dc   0.74
33  b9ea2b06a878df6f   0.50
34  79795133c30ef097   0.28
35  25522ee5411e63e9   0.32